@font-face {
    font-family: 'Editorial New';
    src: url('/fonts/editorialnew/PPEditorialNew-Light.woff2') format('woff2'),
         url('/fonts/editorialnew/PPEditorialNew-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}