@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reservoir-h1, .reservoir-h2, .reservoir-h3, .reservoir-h4, .reservoir-h5, .reservoir-h6 {
    @apply font-headings dark:text-white text-primary-700;
  }
  .reservoir-body, .reservoir-subtitle, .reservoir-label-s, .btn-primary-outline, .reservoir-label-l {
    @apply text-primary-700 dark:text-white;
  }
  .button-primary-fill {
    @apply text-primary-900;
  }
  .pill {
    @apply border-[3px] bg-primary-100;
  }
}


model-viewer {
  width: 100%;
  min-height: 500px;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.markdown-support h1, .markdown-support h2, .markdown-support h3, .markdown-support h4, .markdown-support h5 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support p {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support hr {
  margin-top: 0;
  margin-bottom: 30px;
}

.markdown-support strong {
  font-weight: 500;
}

.markdown-support a {
  text-decoration: underline;
}

span.live-icon{
  display: inline-block;
  position: relative;
  top: calc(50% - 5px);
  background-color: red;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border: 1px solid rgba(black, .1);
  border-radius: 50%;
  z-index: 1;
}

span.live-icon:before{
  content: '';
  display: block;
  position: absolute;
  background-color: #ff000057;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: live 2s ease-in-out infinite;
  z-index: -1;
}

@keyframes live {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(3.5,3.5);
    background-color:#ff000000;
  }
}

.btn-primary-fill, .btn-primary, .btn-primary-outline {
  border-radius: 50px;
}

/* .reservoir-h1, .reservoir-h2, .reservoir-h3, .reservoir-h4, .reservoir-h5, .reservoir-h6 {
  color: 
} */

.hoverTrigger:hover .hoverTarget {
  display: inline-flex;
}

.battleCanvas canvas {
  height: 100vh;
  width: 100vw;
}