@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Obvia';
  src: url('/fonts/obvia_medium-webfont.woff2') format('woff2'),
    url('/fonts/obvia_bold-webfont.woff2') format('woff2');
  font-display: swap;
  font-weight: 400 500 700;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
