@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}