@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/nunitosans/nunitosans-regular-webfont.woff2') format('woff2'),
         url('/fonts/nunitosans/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}