
@font-face {
  font-family: 'Roobert';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/Roobert/Roobert-Regular.woff2') format('woff2'),
    url('/fonts/Roobert/Roobert-Regular.woff') format('woff');
}